langchain4j.azure.ai-search.content-retriever.endpoint=*
langchain4j.azure.ai-search.content-retriever.api-key=*
langchain4j.azure.ai-search.content-retriever.dimensions=384
langchain4j.azure.ai-search.content-retriever.createOrUpdateIndex=false
langchain4j.azure.ai-search.content-retriever.query-type=VECTOR
langchain4j.azure-open-ai.chat-model.endpoint=*
langchain4j.azure-open-ai.chat-model.api-key=*
langchain4j.azure-open-ai.chat-model.deployment-name=gpt-4
logging.level.root=OFF
logging.level.dev.langchain4j=INFO
logging.level.dev.ai4j.openai4j=INFO
spring.main.banner-mode=off
copilot.appcat-home=~/appcat
copilot.maven-home=/usr/share/maven
copilot.bicpe.tempalte.path=classpath:/azd-template-fils